<%= f.input :title, :input_html => { :class => "span6" },
			:label => "<h3>Title</h3>",
			:placeholder => "What title would you talk?" %>
<%= f.input :content, :input_html => { :class => "span6"},
			:label => "<h3>Content</h3>",
 			:placeholder => "What contents you focus on?" %>
<%= f.input :cool_image, :input_html => { :class => "span6"},
			:label => "<h3>Upload_image</h3>" %>

<%= f.button :submit, :class => "btn btn-primary"%>
<%= link_to "Cancel", admin_board_posts_path(@board), :class => "btn btn-danger"%>

