<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<% if @post.cool_image? %>
<p>
  <%= image_tag(@post.cool_image.url(:medium)) %>
</p>
<% end %>

<br/>


<%= link_to 'A-Edit', edit_admin_board_post_path(@board, @post) %> |
<%= link_to 'A-Back', admin_board_path(@board) %>
