<div class="page-header">
  <h1><%= @post.title%>

    <% if current_user && @post.user == current_user %>
<%= link_to 'Edit-Post', edit_board_post_path(@board, @post), :class => "label" %>
<%= link_to 'Destroy', board_post_path(@board, @post), :class => "label", :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
  </h1>	
</div>

<div class="row">
  <div class="span12">
	<div class="thumbnail">
	<% if @post.cool_image? %>
	  <p><%= image_tag(@post.cool_image.url(:medium)) %></p>
	<% end %>
      <p><%= @post.content %></p>
    </div>
  <hr>
  </div>
  
  <div class="span12">
<% if user_signed_in? %>
<%= render "comments/form" %>
<% end %>
  </div>

  <div class="span12">
  <%= render "comments/comment" %>
  </div>
</div>
<%= link_to 'Back-To-Posts', board_posts_path(@board), :class => "btn" %>