<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
  	<title>Ker Forum</title>
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	<meta name="description" content="">
    <meta name="author" content="">
	</head>
  <body>
  
  <!-- Navbar
	==================================================== -->
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="http://ker.herokuapp.com/">Ker Forum</a>
            <ul class="nav pills">
			  			<li class="dropdown">
								<a href="#" class="dropdown-toogle" data-toggle="dropdown">Board 
									<b calss"caret"></b></a>
									  <ul class="dropdown-menu">
											<li><a href="http://ker.herokuapp.com/boards/1">Life</a></li>
											<li><a href="http://ker.herokuapp.com/boards/2">Music</a></li>
						          <li><a href="http://ker.herokuapp.com/boards/3">Stuff</a></li>
									  </ul>
								</li>
            </ul>
			<%= render :partial => "common/user_nav" %></p>
        </div>
      </div>
	 </div><!--/.navbar -->
	
    <div class="container">
	<% if notice %>
	  <div class="alert fade in" data-alert="alert">
	    <a class="close" data-dismiss='alert' href="#">×</a>
	    <strong>Notice!</strong><%= notice %>
	  </div>
	<% end %>
	<%= yield %>
	</div> <!-- /container -->

	</br></br></br>
	<footer class="container">
      <p align="center">&copy; Bcmic, 2012</p>
	</footer><!--/.footer -->
	
  </body>
</html>
